<template>
  <table class="stack">
    <thead>
      <tr>
        <th v-lower>Name</th>
        <th>City</th>
        <th>State</th>
        <th>Phone</th>
        <th>Genre</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="!selectionList">
        <td>No Restaurants</td>
      </tr>
      <app-restaurant
        v-else
        v-for="restaurant in updatedRestaurants"
        :restaurant="restaurant"
        
      ></app-restaurant>
      
    </tbody>
  </table>
</template>

<script>
  // @ is an alias to /src
  import { mapActions } from 'vuex';
  import Restaurant from '../components/restaurants/Restaurant';
  import { genreEventBus, stateEventBus } from '../main';
  import { updateSearch } from '../mixins/updateSearch';
  export default {
    name: 'Home',
    mixins: [updateSearch],
    components: {
      appRestaurant: Restaurant
    },
    directives: {
      ///PLAYING WITH CUSTOM DIRECTIVES
      lower: {
        bind: function (el) {
            el.innerText = el.innerText.toLowerCase();
          }
      }
    },
    methods: {
      ...mapActions([
        'getAllRestaurants',
        'getResults'
      ]),
      getNumPages(allRestaurants) {
        this.numberOfPages = Math.ceil(allRestaurants.length / this.setAmountOfPages);
      },
      populateSetRestaurantList(currentPage, numberPerPage, restaurantList) {
        let begin = ((currentPage - 1) * numberPerPage);
        let end = begin + numberPerPage;
        return restaurantList.slice(begin, end)
      }
    },
    created() {
      this.$store.dispatch('getAllRestaurants');

      genreEventBus.$on('searchGenre', (searchData) => {
        let searchChecker = [];
        let restaurantList = [];
        if (this.search !== "" || this.state !== "") {
          restaurantList = this.$store.getters.getAllUpdatedRestaurants;
        } else {
          restaurantList = this.$store.getters.getAllRestaurants;
        }
        if (/^[a-zA-Z]+$/.test(searchData)) {
          this.genre = searchData;
          searchChecker = restaurantList.filter(b => b.genre.includes(searchData));
          if (searchChecker.length) {
            this.$store.dispatch('getResults', { searchChecker });
            this.selectionList = true;
          } else {
            this.selectionList = false;
          }
        } else if (!/^[a-zA-Z]+$/.test(searchData) && searchData !== "") {
          this.selectionList = false;
        } else {
          this.genre = "";
          if (this.state !== "") {
            restaurantList = this.$store.getters.getAllRestaurants;
            searchChecker = restaurantList.filter(b => b.state.includes(this.state));
            this.$store.dispatch('getResults', { searchChecker });
          } else {
            this.$store.dispatch('getAllRestaurants');
          }
          this.selectionList = true;
        }
      });

      stateEventBus.$on('searchState', (searchData) => {
        let searchChecker = [];
        let restaurantList = [];
        if (this.search !== "" || this.genre !== "") {
          restaurantList = this.$store.getters.getAllUpdatedRestaurants;
        } else {
          restaurantList = this.$store.getters.getAllRestaurants;
        }
        if (/^[a-zA-Z]+$/.test(searchData)) {
          this.state = searchData;
          searchChecker = restaurantList.filter(b => b.state.includes(searchData));
          if (searchChecker.length) {
            this.$store.dispatch('getResults', { searchChecker });
            this.selectionList = true;
          } else {
            this.selectionList = false;
          }
        } else if (!/^[a-zA-Z]+$/.test(searchData) && searchData !== "") {
          this.state = searchData;
          this.selectionList = false;
        } else {
          this.state = "";
          if (this.genre !== "") {
            restaurantList = this.$store.getters.getAllRestaurants;
            searchChecker = restaurantList.filter(b => b.genre.includes(this.genre));
            this.$store.dispatch('getResults', { searchChecker });
          } else {
            this.$store.dispatch('getAllRestaurants');
          }
          this.selectionList = true;
        }
      });
    },
    computed: {
      updatedRestaurants() {
        const restaurants = this.$store.getters.getAllUpdatedRestaurants;
        const count = this.$store.getters.getCurrentPage;
        const restaurantCount = this.$store.getters.getRestaurantCount;
        return this.populateSetRestaurantList(count, restaurantCount, restaurants);
      }
    },
    data() {
      return {
        numberOfPages: 0,
        setAmountOfPages: 10,
        currentPage: 0,
        begin: 0,
        end: 10,
        updatedRestaurantList: [],
        selectionList: true,
        filterTypes: {
          genre: "",
          state: "",
          search: ""
        }
      }
    }
  }
</script>

<style lang="scss">
</style>
