<template>
  <div class="grid-x">
    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="example-menu"></button>
      <div class="title-bar-title">Menu</div>
    </div>
    <header class="cell small-12">
      <h1 class="text-center">Restaurant App</h1>
    </header>
    <div class="top-bar" id="example-menu">
      <div class="top-bar-left">
        <ul class="menu">
          <li><input type="search" placeholder="Search"></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
        
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><input name="state" type="search" v-on:keyup="filterState" placeholder="State"></li>
          <li><input name="genre" type="search" v-on:keyup="filterGenre" placeholder="Genre"></li>
        </ul>
      </div>
    </div>

  </div>
</template>

<script>
  import { genreEventBus, stateEventBus } from '../main';
 export default {
    name: 'the-header',
    methods: {
      filterGenre(event) {
        debugger;
        genreEventBus.$emit('searchGenre', event.target.value);
      },
      filterState(event) {
        stateEventBus.$emit('searchState', event.target.value);
      }
    }

 }
</script>

<style lang="scss">
    header {
        background-color: #0c0d0d;
        color: #FFFFFF;

        h1 {
          padding: 10px;
          font-weight: bold;
        }

  
    }

  .dropdown-content
  {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown:hover .dropdown-content
  {
    display: block;
  }

  .top-bar {
    width: 100%;
  }
</style>
