<template>
  <nav aria-label="Pagination" class="pagination-container">
    <ul class="pagination">
      <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
      <li v-for="(paginationItem, index) in paginationItems" :key="paginationItem">
        <a :aria-label="'Page ' + paginationItem"
           v-bind:class="[paginationItem == currentPageCount ? 'current' : '']"
           v-on:click="changePage">{{ paginationItem }}</a>
      </li>
      <li class="pagination-next"><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
    </ul>
  </nav>
</template>

<script>
  import { mapMutations } from 'vuex';
  export default {
    name: 'the-pagination',
    methods: {
      ...mapMutations({
        currentPageCountHandler: 'CHANGE_CURRENT_PAGE'
      }),
      changePage(e) {
        this.currentPageCountHandler(e.target.text);
        this.isActive = !this.isActive;
        //change current page number to what new value is
        //remove classs "current" from last pagination number,
        //add class "current" to this clicked pagination number
      }
    },
    computed: {
      paginationItems() {
        return this.$store.getters.getNumberOfPages;
      },
      currentPageCount() {
        return this.$store.getters.getCurrentPage;
      }
    }
  }
</script>

<style lang="scss">
  .pagination-container {
    text-align: center;
  }
</style>
