<template>
  <tr>
      <td>
        {{ restaurant.name }}
      </td>
      <td>
        {{ restaurant.city }}
      </td>
      <td>
        {{ restaurant.state }}
      </td>
      <td>
        {{ restaurant.telephone }}
      </td>
      <td>
        {{ restaurant.genre }}
      </td>
  </tr>
</template>

<script>
  export default {
    name: 'Restaurant',
    props: {
      restaurant: {
        type: Object,
        default: {}
      }
    }
  }
</script>

<style lang="scss">
  .restaurant-body {
    color: #444444;
    margin: 10px 0;

    h3 {
      font-size: 1.2em;
      font-weight: 600;
      margin-bottom: 0;
      line-height: 1.1;
    }

    span {
        line-height: 1.5;
        font-size: 0.9em;
        display: block;
        word-break: break-word;
    }
  }
  
</style>
