<template>
  <div id="app">
    <the-header />
    <router-view />
    <the-pagination />
  </div>
</template>

<script>
  import TheHeader from '@/components/TheHeader';
  import ThePagination from '@/components/ThePagination';

  export default {
    components: {
      TheHeader,
      ThePagination
    },
    created() {
      document.title = "Restaurant App";
    }
  }
</script>

<style lang="scss">
  @import './styles/main';
  #app
  {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }
  
  @media only screen and (min-width: 768px)
  {
    #app
    {
    }
  }
</style>
